%span.calculate_enthalpy
  %h2{class: "title"} Information (kJ/Mol):
  %h3 Average bond dissociation energy in reactants:
  =h @reactant_energy
  %h3 Average bond dissocation energy in products:
  =h @product_energy
  %h3 Change in enthalpy:
  =h @enthalpy
